<html>
    <head>
         <style type="text/css">
             #main_block{
                 font-family: Monospace;
                 text-align: center;
                 background: rgb(15, 147, 226);
                 padding: 3em;
             }
             .text-color{ color: #c7c6db;}
             a{
                 text-decoration: none;
                 color: #51db5c !important;
             }
        </style>
    </head>

    <div id="main_block">
          <h1 class="text-color">
            Здравствуйте, {{username}}
          </h1>
          <span class="text-color" style="font-size: 1.25em">
              Вы были зарегистрированы на сайте {{name}}.<br>
              Для подтверждения электронной почты перейдите по <a href={{link}}>ссылке</a>
          </span>
        <p class="text-color">*Подтвердите свою регистрацию в течении {{ confirm_time }} часов.</p>
    </div>
</html>
