{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
            {% for category, message in messages %}
                {% if category == "message" %}
                    <span class="uk-label uk-label-success">
                        {{ message }}
                    </span>
                {% elif category=="warning"%}
                    <span class="uk-label uk-label-warning">
                        {{ message }}
                    </span>
                {% else %}
                     <span class="uk-label uk-label-primary">
                        {{ message }} 2
                    </span>
                {% endif %}
            {% endfor %}
  {% endif %}
{% endwith %}