{% extends "base.html" %}
{% from "macroses.html" import show_products, show_categories %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    {# Home page categories #}
    {% if categories|length >= 1 %}
        <div class="uk-margin-medium">
            <div class="uk-h3 uk-text-muted uk-text-center uk-text-light uk-text-uppercase">Категории</div>
                {{ show_categories(categories) }}
        </div>
    {% endif %}

    {# Block with last products #}
    {% if products %}
        {{ show_products(products) }}
    {% endif %}
{% endblock %}