{# HOME PAGE #}
{% extends "base.html" %}
{% from "macroses.html" import show_product, show_categoryes, show_product_filter with context %}

{# ADD FONT #}
{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">
{% endblock %}

{# BODY #}
{% block content %}

    {% if categories|length >= 1 %}
        <div class="uk-margin-medium">
            <div class="uk-h3 uk-text-muted uk-text-center uk-text-light uk-text-uppercase">Категории</div>
{#            <div class="uk-flex uk-flex-wrap uk-flex-center uk-text-center">#}
{#                {% for category in categories %}#}
                {{ show_categoryes(categories) }}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    {% endif %}

    {# Start grid for 2 columns #}
{#    {% if filter and products %} <div uk-grid class="uk-flex"> {% endif %}#}

    {# First column #}
    {% if filter %}
        <div class="uk-flex-row uk-flex-between">
            {# uk-width-1-5@m uk-width-1-5@xl uk-width-1-5@l uk-width-1-1@s  uk-margin-right #}
            <div class="">
                {{ show_product_filter(filter) }}
            </div>
        </div>
    {% endif %}

    {# Second column #}
    {% if products %}
{#            <div class="uk-width-4-5@m uk-width-4-5@xl uk-width-4-5@l uk-width-1-1@s">#}
{#        uk-child-width-1-4@xl uk-child-width-1-3@l uk-child-width-1-3@m  uk-child-width-1-1@s#}
        <div uk-grid class="uk-grid uk-grid uk-child-width-1-3@m uk-child-width-1-4@l"
             uk-height-match=".uk-card">
                {% for product in products %}
                    <div>
                        {{ show_product(product) }}
                    </div>
                {% endfor %}
        </div>
    {% endif %}

    {# Close grid for 2 columns #}
    {# {% if filter and products %} </div> {% endif %}#}

{% endblock %}