{# HOME PAGE #}
{% extends "base.html" %}
{% from "macroses.html" import show_products, show_categories, show_product_filter, render_pagination with context %}

{# ADD FONT #}
{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/filtering.js') }}"></script>
{% endblock %}

{# BODY #}
{% block content %}

    {# Row filter block #}
    {% if product_filter %}
        <div class="uk-flex-row uk-flex-between">
            {# uk-width-1-5@m uk-width-1-5@xl uk-width-1-5@l uk-width-1-1@s  uk-margin-right #}
            <div class="">
                {{ show_product_filter(product_filter) }}
            </div>
        </div>
    {% endif %}

    {# Column products block #}
    {% if pagination %}
        {{ show_products(pagination.items) }}

        {{ render_pagination(pagination, "products") }}
    {% endif %}

{% endblock %}