{% extends "py_market/base.html" %}

{% block content %}
    {% with product = product %}
        <div class="uk-child-width-1-2" uk-grid>
            {# IMAGES OF PRODUCT #}
{#         uk-width-1-1@s uk-width-2-3@m uk-width-2-3@l uk-width-2-3@xl#}
            <div class="">
                {# IF PRODUCT HAS PHOTOS #}
                {% if product.photos|length >= 1 %}
                    {# SHOW SLIDER #}
                    <div class="uk-position-relative uk-visible-toggle uk-light"
                         uk-slideshow="animation: pull; finite: true; ratio: 1:1;">
                        <ul class="uk-slideshow-items">
                            {% for photo in product.photos %}
                                <li>
                                    <img src="{{url_for('static', filename=photo.path) }}" alt="alt_img" uk-cover>
                                </li>
                            {% endfor %}

                        </ul>
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                {% else %}
                    {# ELSE SHOW 'DEFAULT' IAMGE#}
                {% endif %}
            </div>

            {# PRODUCT DESCRIPTION #}

            <div>
                {# PRODUCT BRAND #}
                <div class="uk-grid uk-child-width-1-2 uk-flex-around">
                    {# left column #}
                    <div>
                        {# PRODUCT BRAND #}
                        {% if product.brand %}
                        <div class="uk-h2 uk-text-uppercase">
                            {{ product.name }}
                        </div>
                        {% endif %}
                        {# PRODUCT NAME #}
                        <div class="uk-h3 uk-text-uppercase">
                            {{ product.name }}
                        </div>
                    </div>
                    {# right column #}
                    <div>
                        {# PRODUCT PRICE #}
                        <div class="uk-h4 uk-text-muted uk-text-uppercase">
                            {{ product.price }} Р.
                        </div>
                    </div>
                </div>


                <hr>
                {# ANOTHER DESCRIPTION #}
                <div class="">
                    {# DESCRIPTION #}
                    <div class="uk-description-list">
                        {% if product.description %}
                            <dt>Описание</dt>
                            <dd>{{ product.description }}</dd>
                        {% endif %}
                        {# PRODUCT MATERIAL #}
                        {% if product.material|length >= 1 %}
                            <dt>Материал</dt>
                            <dd class="uk-text-muted uk-text-middle">
                                {% for materials in product.material|groupby("name") %}
                                    {{ materials.list|join(", ") }}
                                {% endfor %}
                            </dd>
                        {% endif %}
                        {# PRODUCT CATEGORY #}
                        {% if product.category|length %}
                            <dt>Категория</dt>
                             <dd>
                                {% for category in product.category|groupby("name") %}
                                    {{ category.list|join(",") }}
                                {% endfor %}
                            </dd>
                        {% endif %}
                        {# PRODUCT SEX #}
                        {% if product.male is defined %}
                            <dt>Пол</dt>
                            <dd>{% if product.male %} {{ "Мужской" }} {% else %} {{ "Женский" }} {% endif %}</dd>
                        {% endif %}
                        {# PRODUCT DATE ADD #}
                        <dt class="uk-text-bold">Добавлено: {{ product.arrival_date }}</dt>

                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}