{# BASE - PARENT PAGE #}
{% from "py_market/macroses.html" import show_flashed_messages with context %}

<html lang="ru">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}{% endblock %}</title>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/uikit.css') }}">
            {#<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/css/uikit-rtl.min.css') }}">#}
            <script type="text/javascript" src="{{ url_for('static', filename='/js/uikit.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='/js/uikit-icons.js') }}"></script>
        {% endblock %}
    </head>

    <body>

        {% block header %}
            {% include "py_market/header.html" with context %}
        {% endblock %}

        <div offset-bottom class="uk-container uk-margin-top uk-margin-auto-bottom">

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% include "py_market/flashed_messages.html" %}
                {% endif %}
            {% endwith %}

            {% if info %}
                <div class="uk-container-small uk-position-center"> {{ info }} </div>
            {% endif %}
        </div>

        <div offset-bottom uk-height-viewport class="uk-container uk-margin-small">
            {% block content %}
            {% endblock %}
        </div>


        <div id="footer"  class="uk-margin-top uk-visible@s">
            {% block footer %}
                {% include "py_market/footer.html"%}
            {% endblock %}
        </div>

    </body>

</html>