<footer>
    <div class="uk-background-secondary uk-padding-large">
        <div class="uk-container ">
            <div uk-grid class="uk-grid-large@m uk-grid-row-small@s uk-grid-divider uk-child-width-expand@s uk-grid">
                <div class="uk-first-column">
                    <ul  class="uk-list">
                         <li class="uk-text-bold">Навигация</li>
                        <li>
                            <a class="uk-link-muted" href="{{ url_for('home') }}">Главная</a>
                        </li>
                        <li>
                            <a class="uk-link-muted" href="{{ url_for('about') }}">О нас</a>
                        </li>
                    </ul>
                </div>
                <div></div>
                <div>
                    <ul class="uk-list uk-iconnav uk-iconnav-vertical">
                        <li class="uk-text-bold">Связаться с нами</li>
{#                        <li>#}
{#                            <a class="" uk-icon="icon: google"> <span >Google</span> </a>#}
{#                        </li>#}
                        <li>
                            <a class="https://www.instagram.com/bashmachok_2020/" target="_blank"
                               uk-icon="icon: instagram"> <span >Instagram</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>