
{# TOP MENU - HEADER #}
<div class="uk-section-primary uk-preserve-color">
    <nav uk-navbar="" class="uk-navbar-container uk-container uk-navbar-transparent">
         <div class="uk-navbar-left" aria-expanded="false">
            {# LEFT SIDE MENU #}
             <ul class="uk-navbar-nav">
                 {# LOGO #}
                 <li>
                    <a class="uk-navbar-item uk-logo uk-text-uppercase"
                       href="{{ url_for('home') }}"
                       title="Главная страница">
                        <img uk-svg width="50" src="{{ url_for("static", filename="images/header_logo.svg") }}">
                    </a>
                 </li>

             </ul>
         </div>

        <div class="uk-navbar-dropbar uk-drop uk-drop-boundary uk-drop-bottom-center"
             uk-drop="boundary: .parent; boundary-align: true; pos: bottom-justify;"
             style="">
        </div>

        {# RIGHT SIDE OF MENU #}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">

                <li>
                    <a href="{{ url_for('about') }}">
                        <span class="uk-icon" uk-icon="info"></span>
                        <span class="uk-margin-small-left">О нас</span>
                    </a>
                </li>

{#                <li>#}
{#                    <a href="/cart" title="Корзина">#}
{#                        <span ul-icon="cart"></span>#}
{#                    </a>#}
{#                </li>#}

                {% if user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('cart') }}">
                            <span class="uk-icon" uk-icon="cart"></span>
                            <span class="uk-margin-small-left">Корзина</span>
                        </a>
                    </li>
                    <li>

                        {# DROPDOWN MENU #}
                        <a uk-navbar-toggle-icon class="uk-icon uk-navbar-toggle-icon"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li>
                                    <a href="{{ url_for('profile') }}">
                                        <span class="uk-icon" uk-icon="user"></span>
                                        <span class="uk-margin-small-left">{{ user.name }}</span>
                                    </a>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <li>
                                     <a href="{{ url_for('auth.logout') }}">
                                         <span class="uk-icon" uk-icon="sign-out"></span>
                                         <span class="uk-margin-small-left">Выйти</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a class="uk-icon-link" href="{{ url_for('auth.login') }}">
                            <span class="uk-icon" uk-icon="sign-in"></span>
                            <span class="uk-margin-small-left">Войти</span>
                        </a>
                    </li>
                    <li>
                        <a class="uk-icon-link" href="{{ url_for('auth.register') }}">
                            <span class="uk-icon" uk-icon="pencil"></span>
                            <span class="uk-margin-small-left">Регистрация</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>